@model IEnumerable<Film>

@{
    ViewData["Title"] = "Lista filmów";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 400px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Nazwa
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <p class="card-text"><b>Opis: </b>@item.Opis</p>
                            <p class="card-text"><b>Sala: </b>@item.Sala.Nazwa</p>
                            <p class="card-text"><b>Kategoria: </b>@item.FilmKategoria</p>
                            <p class="card-text"><b>Od kiedy: </b>@item.OdKiedy.ToString("dd MMMM yyyy")</p>
                            <p class="card-text"><b>Do kiedy: </b>@item.DoKiedy.ToString("dd MMMM yyyy")</p>
                            <p class="card-text">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.OdKiedy && DateTime.Now <= item.DoKiedy)
                                {
                                    <span class="badge bg-success text-white">Dostępny</span>
                                } else
                                {
                                    <span class="badge bg-primary text-white">Niedostępny</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill"></i> Szczegóły</a>
                                <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i>Kup bilet</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>